* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}

/* navbar */

.navbar {
  background-color: #1f2937;
  
  display: flex;
  justify-content: center;
}

.navbar .container {
  max-width: 75vw;
  padding: 10px 0;
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.navbar ul {
  list-style-type: none;
  
  display: flex;
  gap: 25px;
}

.navbar ul a {
  text-decoration: none;
  font-size: 18px;
  color: #959caa;
}

/* header */

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
}

.header .container {
  height: 400px;
  max-width: 75vw;
  flex: 1;
  
  display: flex;
  align-items: center;
}

.hero-text {
  flex: 1;
  flex-wrap: wrap;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  color: #f9faf8;
}

.hero-text p {
  font-size: 18px;
  color: #959caa;
}

.hero-image {
  flex: 1;

  display: flex;
  justify-content: end;
}

.header img {
  max-width: 500px;
}

.header button {
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  background-color: #3882f6;
  color: #f9faf8;
}

/* section-1 */

.section-1 {
  display: flex;
  justify-content: center;
}

.section-1 .container {
  max-width: 75vw;

}

.card-container {
  display: flex;
  justify-content: center;
}

.card-container > div {
  flex: 1;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container > div > img {
  height: 150px;
  width: 150px;
  border-radius: 15px;
}